<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		  <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
	</head>
	<body>
		<div class="layui-bg-gray" style="padding: 30px;">
		  <div class="layui-row layui-col-space15">
		    <div class="layui-col-md12">
		      <div class="layui-card">
		        <div class="layui-card-header">教学大纲工作</div>
		        <div class="layui-card-body">
		          <span style="margin-left: 5%;"><a href="">开启工作</a></span>
				  <span style="margin-left: 5%;"><a>组织编写</a></span>
				  <span style="margin-left: 5%;"><a>院系审批</a></span>
		          <span style="margin-left: 5%;"><a>教务处审批</a></span>
				</div>
		      </div>
		    </div>
			<div class="layui-col-md12">
			  <div class="layui-card">
			    <div class="layui-card-header">请假申请审批</div>
			    <div class="layui-card-body">
			      <span style="margin-left: 5%;"><a>院系教师请假审批</a></span>
			      <span style="margin-left: 5%;"><a>正级领导请假申请模板</a></span>
			      <span style="margin-left: 5%;"><a>教务处教员请假申请模板</a></span>
				</div>
			  </div>
			</div>
			<div class="layui-col-md12">
			  <div class="layui-card">
			    <div class="layui-card-header">流程名称</div>
			    <div class="layui-card-body">
			      <span style="margin-left: 5%;"><a>开启工作</a></span>
				  <span style="margin-left: 5%;"><a>任务1</a></span>
				  <span style="margin-left: 5%;"><a>任务2</a></span>
				  <span style="margin-left: 5%;"><a>任务3</a></span>
			    </div>
			  </div>
			</div>
			
			<div class="layui-col-md12">
			  <div class="layui-card">
			    <div class="layui-card-header">流程名称中统一字样，将模板改成审批</div>
			    <div class="layui-card-body">
			      <span style="margin-left: 5%;"><a>111</a></span>
				  <span style="margin-left: 5%;"><a>222</a></span>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<script src="../../static/layui/layui.js" charset="utf-8"></script>
	</body>
</html>
