<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
	</head>
	<body>

		<form class="layui-form" id="frm" action="" onsubmit="return false" style="height: auto; margin-left: 20%;">
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<input type="hidden" name="userId" id="userId" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">账号：</label>
				<div class="layui-input-inline">
					<input type="text" name="userName" id="userName" class="layui-input" required="true">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">姓名：</label>
				<div class="layui-input-inline">
					<input type="text" name="realName" id="realName" class="layui-input" required="true">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别：</label>
				<div class="layui-input-block">
					<input type="radio" name="gender" value="男" title="男">
					<input type="radio" name="gender" value="女" title="女">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label" >角色：</label>
				<div class="layui-input-block" id="roleType">

				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">部门：</label>
				<div class="layui-input-block" style="width: 300px;">
					<select id="departId" name="departId" required="true">
						<option value=""></option>
						{{range $ind, $elem := .Depart}}
							<option value="{{$elem.Id}}">{{$elem.DepartName}}</option>
						{{end}}
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">职务：</label>
				<div class="layui-input-block" style="width: 300px;">
					<select id="jobId" name="jobId" required="true">
						<option value=""></option>
						{{range $ind, $elem := .Jobs}}
							<option value="{{$elem.Id}}">{{$elem.JobName}}</option>
						{{end}}
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">电话：</label>
				<div class="layui-input-inline">
					<input type="text" lay-verify="phone" name="phone" id="phone" class="layui-input" required="false">
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="updateSubmit">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		<script src="../../static/layui/layui.js" charset="utf-8"></script>
	<script>
		function getQueryString(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			if (r !== null)
				return unescape(r[2]);
			return null;
		}

		layui.use(['form','jquery'], function (data) {
			var $ = layui.$;
			var form = layui.form
			var roleId = "102";

			var div = $("#roleType");
			var layer = layui.layer;
			div.html("");
			//进入/labelType/loadAllLabelType的方法，返回的objs是一个list集合，集合中的每个元素均为Label实体类(包含id和label两个属性)
		})
		layui.use('form', function(){
			var form = layui.form;
			var $ = layui.$;
			form.on('submit(updateSubmit)', function(data){
				$.ajax({
					url:'/user/UpInfo',
					data: data.field,
					dataType:'json',
					type:'post',
					success:function(data){
						layer.msg("success")
					}
				})
			});
		})
	</script>
	</body>
</html>
