<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>部门管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">

	</head>
	<body>

		<div class="demoTable">
			<div class="layui-inline" style="margin-left: 1%;margin-top: 14px">
				<input class="layui-input" name="id" id="searchDepart" autocomplete="off" placeholder="请输入上级部门名称">
			</div>
			<button class="layui-btn" data-type="reload" style="margin-top: 14px">搜索</button>
			<button type="button" class="layui-btn" id="addDepart" style="margin-top: 1%;margin-left: 1%" lay-event="addDepart">添加部门</button>
			<button type="button" class="layui-btn" id="addType" style="margin-top: 1%;margin-left: 1%" lay-event="addType">添加部门类型</button>
		</div>

		<table class="layui-hide" id="departList" lay-filter="departList"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
				<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
				<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
			</div>
		</script>

		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="edit">修改/查看</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>


		<script src="../../static/layui/layui.js" charset="utf-8"></script>
		<script src="../../static/jquery/jquery-3.5.1.min.js"></script>

		<script>
			layui.use(['table', 'form'], function() {
				var table = layui.table;
				var form = layui.form;

				table.render({
					elem: '#departList',
					url: 'departTestData.json',
					toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
					// parseData: function(res) {
					// 	return {
					// 		"code": res.code, //解析接口状态
					// 		"msg": res.msg, //解析提示文本
					// 		"count": res.data.count, //解析数据长度
					// 		"data": res.data.records //解析数据列表
					// 	};
					// },
					cols: [
						[{
							type: 'checkbox'
						}, {
							field: 'departId',
							title: 'ID',
							sort: true
						}, {
							field: 'departName',
							title: '部门名称'
						}, {
							field: 'superiorName',
							title: '上级部门'
						}, {
							field: 'typeName',
							title: '部门类型'
						}, {
							field: 'createTime',
							title: '创建时间',
							sort: true
						}, {
							field: 'modifiedTime',
							title: '修改时间',
							sort: true
						}, {
							title: '操作',
							toolbar: '#barDemo',
							fixed: 'right',
							width: 160
						}]
					],
					id: 'myReload',
					page: true
				});

				//头工具栏事件
				table.on('toolbar(departList)', function(obj) {
					var checkStatus = table.checkStatus(obj.config.id);
					switch (obj.event) {
						case 'getCheckData':
							var data = checkStatus.data;
							layer.alert(JSON.stringify(data));
							break;
						case 'getCheckLength':
							var data = checkStatus.data;
							layer.msg('选中了：' + data.length + ' 个');
							break;
						case 'isAll':
							layer.msg(checkStatus.isAll ? '全选' : '未全选');
							break;
							//自定义头工具栏右侧图标 - 提示
						case 'LAYTABLE_TIPS':
							layer.alert('这是工具栏右侧自定义的一个图标按钮');
							break;
					};
				});

				//按条件查询
				var $ = layui.$,
					active = {
						reload: function() {
							var searchDepart = $('#searchDepart');

							//执行重载
							table.reload('myReload', {
								page: {
									curr: 1 //重新从第 1 页开始
								},
								where: {
									key: {
										title: searchDepart.val()
									}
								}
							});
						}
					};

				$('.demoTable .layui-btn').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});
				//监听行工具事件
				table.on('tool(departList)', function(obj) {
					var data = obj.data;
					var layEvent = obj.event;
					//console.log(obj)
					if (layEvent === 'del') {
						layer.confirm('确定删除么？', function(index) {
							layer.close(index);
							var $ = layui.$;
							$.ajax({
								url: "/xx/xxx?id=" + obj.data.id,
								async: false,
								type: 'DELETE',
								success: function(res) {
									if (res.code == 0) { //成功
										obj.del();
										layer.alert("删除成功");
									} else {
										layer.alert("删除失败");
										//layer.alert("res.msg");
									}
								},
								error: function() {
									layer.alert("删除失败");
									//layer.alert("res.msg");
								}
							});

						});
					} else if (layEvent === 'edit') {
						console.log(obj)
						layer.open({
							type: 2,
							title: '修改部门',
							area: ['40%', '60%'],
							content: 'departUpdate.html',
							//content: '/xx/xxx?id=' + obj.data.id, 
							end: function() {
								location.reload();
							},
							success: function(layero, index) {
								//找到它的子窗口的body
								var body = layer.getChildFrame('body', index); //取子页面数据
								//为子窗口元素赋值
								body.contents().find("#id").val(obj.data.id);
								body.contents().find("#departName").val(obj.data.departName);
								body.contents().find("#superior").val(obj.data.superior);
							}
						});
						

// 						form.render();
// 
// 						form.on('submit(updateSubmit)', function(data) {
// 							$.ajax({
// 								url: data.form.action,
// 								async: false,
// 								type: 'PUT',
// 								contentType: 'application/json;charset=utf-8',
// 								data: JSON.stringify(data.field),
// 								success: function(res) {
// 									if (res.code == 0) { //成功
// 										layer.closeAll();
// 										query();
// 									} else {
// 										layer.alert(res.msg);
// 									}
// 								}
// 							});
// 							return false; // 阻止表单跳转
// 						});						
						
					}
				});

				var $ = layui.$;
				$("#addDepart").click(function() {
					layer.open({
						type: 2,
						title: '添加部门',
						area: ['40%', '60%'],
						content: 'departAdd.html',					
					});
// 					form.render();
// 
// 					form.on('submit(addSubmit)', function(data) {
// 						$.ajax({
// 							url: data.form.action,
// 							async: false,
// 							type: 'POST',
// 							contentType: 'application/json;charset=utf-8',
// 							data: JSON.stringify(data.field),
// 							success: function(res) {
// 								if (res.code == 0) { //成功
// 									layer.closeAll();
// 									query();
// 								} else {
// 									layer.alert(res.msg);
// 								}
// 							}
// 						});
// 						return false; // 阻止表单跳转
// 					});					
				});
				
				$("#addType").click(function() {
					layer.open({
						type: 2,
						title: '添加部门类型',
						area: ['40%', '60%'],
						content: 'departType.html',					
					});
				});
				
			});
		</script>

	</body>
</html>
