<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
	</head>
	<body>

		<form class="layui-form" action="" onsubmit="return false" style="height: auto; margin-left: 20%;">
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<input type="hidden" name="processId" id="processId" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">流程名称：</label>
				<div class="layui-input-inline">
					<input type="text" name="processName" id="processName" class="layui-input" required="true">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">启用职务：</label>
				<div class="layui-input-block" id="jobName">

				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">流程类型：</label>
				<div class="layui-input-block">
					<input type="radio" name="processType" value="指派" title="指派" checked="">
					<input type="radio" name="processType" value="申请" title="申请">
				</div>
			</div>


			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="updateSubmit">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		<script src="../../static/layui/layui.js" charset="utf-8"></script>
		<script>
			layui.use('form', function(){
				var form = layui.form;
				var $ = layui.$;
				form.on('submit(updateSubmit)', function(data){
					$.ajax({
						url:'/process/UpInfo',
						data: data.field,
						dataType:'json',
						type:'post',
						success:function(data){
							layer.msg("修改成功")
							setTimeout(function (){
								var index=parent.layer.getFrameIndex(window.name); //获取当前窗口的name
								parent.layer.close(index);
							},1000);
						}
					})
				});
			})
		</script>
	</body>
</html>
